#
# {{ ansible_managed }}
#

"{{ item.path }}" {
  {% if item.options is defined -%}
  {% for option in item.options -%}
  {{ option }}
  {% endfor -%}
  {% endif %}
  {%- if item.postrotate is defined -%}
  postrotate
  {%- for script in item.postrotate -%}
    {{ script }}
  {% endfor -%}
  endscript
  {% endif -%}
}